<div class="container">
    <div align="center">
        <h1>Perfil</h1>
        <table class="table table-responsive">
            <thead class="thead-dark  letrapequena">
                <tr *ngIf="listaPerfil(); else no_hay_perfil">
                    <th>Documento</th>
                    <th>Nombre Completo</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <!--<td>SELECCIONAR</td>-->
                </tr>
            </thead>
            <tr *ngFor="let perfil of form1" class="letrapequena1">
                <td> {{ perfil.documento }} </td>
                <td> {{ perfil.name }} </td>
                <td> {{ perfil.direccion }} </td>
                <td> {{ perfil.telefono }} </td>
                <td> {{ perfil.email }} </td>
                <!--<td> <button (click)="seleccionarUsuario(usuario.idUsuario)"> Seleccionar </button> </td>
          -->
            </tr>
        </table>

        <ng-template #no_hay_perfil>
            <h1 class="cambio_color1" align="center">
                <p>No Sean Podido cargar Los Datos.</p>
            </h1>
        </ng-template>

    </div>
</div>