<div class="row">
    <div class="col-md-12">
        <div class="header-part">
            <p>Inicio &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Nosotros</span></p>
        </div>
    </div>
</div>
<section class="slider">
    <img src="../../../assets/img/slider-about.jpg" alt="Slider">
    <h3>ABOUT US</h3>
</section>

<div align="center">
    <br><br><br>
    <h2>Quienes Somos?</h2>
    <p>Los Putos Amos</p>
</div>

<div align="center">
    <section class="team">
        <div class="clear"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Conocer al Equipo</h2>
                </div>
            </div>
            <div align="center">
                <div class="row" align="center">
                    <div class="col-md-3">
                        <div class="teams">
                            <img class="imagen" src="../../../assets/img/gollum.jpg">
                            <div class="icon">
                                <a href="https://www.facebook.com/joseleoneljimenezbaena"><i class="fa fa-facebook"></i></a>
                                <a href="https://mobile.twitter.com/leonelbaena"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <h3><strong>Jose Jimenez</strong></h3>
                        <p>El Coste</p>
                    </div>


                    <div class="col-md-3">
                        <div class="teams">
                            <img src="../../../assets/img/fox.jpg">
                            <div class="icon">
                                <a href="https://www.facebook.com/steve.fox.1481169"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/lexado_istivi/?hl=es-la"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <h3><strong>Steve Fox</strong></h3>
                        <p>El Mongolin</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>