<div class="row">
    <div class="col-md-12">
        <div class="header-part">
            <p>Inicio &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Contactanos</span></p>
        </div>
    </div>
</div>
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact">
                    <h2>Detalles de Contacto</h2>
                    <div class="col-md-6">
                        <div class="contact_icon">
                            <div class="icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <div class="c_text">
                                <a href="https://www.facebook.com/joseleoneljimenezbaena">Facebook</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="contact_icon">
                            <div class="icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="c_text">
                                <a href="">Twitter</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="contact_icon">
                            <div class="icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="c_text">
                                <p>tso@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="get_in_touch">
                    <h2>Contactanos!</h2>
                    <form>
                        <div class="form-group">
                            <label>Tu Nombre</label>
                            <input type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Tu Correo</label>
                            <input type="text" formControlName="correo" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Tu Numero de Telefono</label>
                            <input type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Tu Mensaje</label>
                            <textarea type="text-area" rows="10" cols="50" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-outline-success">Enviar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>