<div class="row">
    <div class="col-md-12">
        <div class="header-part">
            <p>Inicio &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Contactanos</span></p>
        </div>
    </div>
</div>
<section class="contact-us">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-6">
                <div class="contact">
                    <h2>Detalles de Contacto</h2>
                    <div class="col-md-6">
                        <div class="contact_icon">
                            <div class="icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <div class="c_text">
                                <a href="https://www.facebook.com/joseleoneljimenezbaena">Facebook</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="contact_icon">
                            <div class="icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="c_text">
                                <a href="">Twitter</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="contact_icon">
                            <div class="icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="c_text">
                                <p>tso@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="get_in_touch">
                    <h2>Contactanos!</h2>
                    <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Tu Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">Por favor, ingresa tus Nombres y Apellidos</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tu Correo</label>
                            <input type="text" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
                            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                                <div *ngIf="f.correo.errors.required">El Correo es obligatorio</div>
                                <div *ngIf="f.correo.errors.email">Por favor, ingresa tu Correo</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tu Numero de Telefono</label>
                            <input type="text" formControlName="telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
                            <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                                <div *ngIf="f.telefono.errors.required">Por favor, ingresa tu numero de telefono</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tu Mensaje</label>
                            <textarea type="text-area" rows="10" cols="50" class="form-control" formControlName="mensaje" [ngClass]="{ 'is-invalid': submitted && f.mensaje.errors }"></textarea>
                            <div *ngIf="submitted && f.mensaje.errors" class="invalid-feedback">
                                <div *ngIf="f.mensaje.errors.required">Por favor, ingresa tu Mensaje.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-outline-success">Enviar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>