<section class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul *ngIf="logoutbtn">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">dashbord</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="icon">
                    <a href="https://www.facebook.com/joseleoneljimenezbaena"><i class="fa fa-facebook"></i></a>
                    <a href="https://mobile.twitter.com/leonelbaena"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/iissaa456/?hl=es-la"><i class="fa fa-instagram"></i></a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="a-right">
                    <a routerLink="logincliente" routerLinkActive="active" *ngIf="loginbtn">
                        <p><span><i class="fa fa-user"></i></span>Iniciar Sesión</p>
                    </a>
                    <a routerLink="registrar" routerLinkActive="active" *ngIf="loginbtn">
                        <p><span><i class="fa fa-pencil"></i></span>Registrarse</p>
                    </a>
                    <a *ngIf="logoutbtn" (click)="logout()">
                        <p><span><i class="fa fa-door-open-fill"></i></span>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                            </svg> Salir</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- navbar logo -->
<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
    <section class="header">
        <div class="logo">
            <a routerLink="inicio" routerLinkActive="active">
                <h2>TSO</h2>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarlogo">
            <ul class="navbar-nav mr-auto">
                <li><a routerLink="inicio" routerLinkActive="active">INICIO</a></li>
                <li><a routerLink="nosotros" routerLinkActive="active">NOSOTROS</a></li>
                <li><a routerLink="contacto" routerLinkActive="active">CONTACTO</a></li>
                <li><a routerLink="productos" routerLinkActive="active">PRODUCTOS</a></li>
            </ul>
            <div class="cart">
                <a routerLink="productos" routerLinkActive="active">
                    <p><i class="fa fa-cart-arrow-down"></i><sup>5</sup>&#36;&nbsp;&nbsp;100.000</p>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarlogo" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </section>
</nav>
<!-- fin navbar logo -->
<br>
<hr>
<!-- navbar buscar -->
<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
    <section class="header-catagory">
        <div class="container">
            <div class="row">
                <form class="form-inline my-2 my-lg-0">
                    <input type="text" placeholder="Buscar Productos">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>
</nav>