<div class="wrapper">
    <div class="top_nav">
        <div class="left">
            <div class="logo">
                <!--navbar del logo-->
                <p>TSO</p>
            </div>
        </div>
        <div class="social">
            <!--navbar del redes sociales-->
            <ul>
                <!--coloque i para iconos-->
                <li class="facebook"><a href="https://www.facebook.com/joseleoneljimenezbaena"><i class="fab fa-facebook"></i></a></li>
                <li class="instagram"><a href="https://www.instagram.com/zenemij98/?hl=es-la"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="submenu">
        <!--Informacion Empresa-->
        <div class="container">
            <div class="row center-xs">
                <div class="info col-xs">
                    <nav>
                        <a href="#">Correo: correo@tso.com</a>
                        <a href="#">Tel: 4829560</a>
                        <a href="#">Dir: Cl 12#45-32</a>
                        <!-- <a href="#modeloiniciarsesion" role="button" class="btn btn-outline-success" data-toggle="modal">Iniciar Sesion</a> -->
                        <!-- <a href="#modeloregistrarse" role="button" class="btn btn-outline-success" data-toggle="modal">Regístrate</a> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_nav">
        <!--Menu-->
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/noticias">Noticias</a></li>
            <li><a href="/productos">Productos</a></li>
            <app-login></app-login>
            <app-registrarse></app-registrarse>
            <button type="button" class="nav-link" *ngIf="logoutbtn" (click)="logout()"></button>
        </ul>
    </div>
</div>

<div class="container">
    <div class="search_wrap search_wrap_3">
        <div class="search_box">
            <input type="text" class="input" placeholder="Buscar Productos">
            <div class="btn btn_common">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
</div>