<div class="wrapper">
    <div class="top_nav">
        <div class="left">
            <div class="logo">
                <!--navbar del logo-->
                <p>TSO</p>
            </div>
        </div>
        <div class="social">
            <!--navbar del redes sociales-->
            <ul>
                <li class="facebook"><a href="#"><span> </span></a></li>
                <li class="twitter"><a href="#"><span> </span></a></li>
                <li class="instagram"><a href="#"><span> </span></a></li>
            </ul>
        </div>
    </div>
    <div class="submenu">
        <!--Informacion Empresa-->
        <div class="container">
            <div class="row center-xs">
                <div class="info col-xs">
                    <nav>
                        <a href="#">Correo: correo@tso.com</a>
                        <a href="#">Tel: 4829560</a>
                        <a href="#">Dir: Cl 12#45-32</a>
                        <a class="btn">
                            <button type="button" class="btn btn-outline-success"><a href="#"></a>Login</button>
                        </a>
                        <a class="btn2">
                            <button type="button" class="btn btn-outline-danger"><a href="#"></a>Sign Up</button>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_nav">
        <!--Menu-->
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/productos">Productos</a></li>

        </ul>



    </div>


</div>
<div class="container">
    <div class="search_wrap search_wrap_3">
        <div class="search_box">
            <input type="text" class="input" placeholder="Buscar...">
            <div class="btn btn_common">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
</div>
