<footer>
    <div class="mt-5 pt-5 pb-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 location">
                    <h4>Contacto</h4>
                    <p><i class="fa fa-map-marker"> Direccion</i></p>
                    <p><i class="fa fa-phone"> (+57) 310-792-8435</i></p>
                    <p><i class="fa fa-envelope-o"> Correo@gmail.com</i></p>
                </div>
                <div class="col-lg-4 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">Redes Sociales</h4>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/joseleoneljimenezbaena"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/zenemij98/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <h4 class="mt-lg-0 mt-sm-4">Mi Cuenta</h4>
                    <ul>
                        <li><a href="#">Iniciar Sesion</a></li>
                        <li><a href="#">Cerrar Sesion</a></li>
                        <li><a href="#">MI Carrito</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright text-center">
                    <p>Realizado Por © 2020 |
                        <a href="#" style="color: white;" target="_blank" rel="nofollow noopener noreferrer">&nbsp;
						Politica de Privacidad y Cookies.</a> &nbsp;Todos Los Derechos Reservados.
                    </p>

                </div>
            </div>
        </div>
    </div>
</footer>