.header-catagory {
    margin: 0px auto;
    display: block;
}

.header-catagory button {
    background: #f39c12 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 24px;
    height: 60px;
    /* margin-left: -4px; */
    margin: 5px;
    padding-bottom: 4px;
    width: 55px;
}

.header-catagory input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border-top: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
    border-left: 2px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    margin: 0;
    width: 328px;
    padding: 20px 0;
    height: 60px;
}

.header-catagory input[placeholder] {
    font-size: 14px;
    padding: 0 44px;
    width: 295px;
}

.btn {}