<div class="row">
    <div class="col-md-12">
        <div class="header-part">
            <p>Inicio &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Registrar</span></p>
        </div>
    </div>
</div>
<form [formGroup]="angForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Numero de Documento</label>
        <input type="text" formControlName="documento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.documento.errors }" />
        <div *ngIf="submitted && f.documento.errors" class="invalid-feedback">
            <div *ngIf="f.documento.errors.required">Por favor, ingresa tus Numero de Documento</div>
        </div>
    </div>

    <div class="form-group">
        <label>Nombres y Apellidos</label>
        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Por favor, ingresa tus Nombres y Apellidos</div>
        </div>
    </div>

    <div class="form-group">
        <label>Telefono</label>
        <input type="text" formControlName="telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
        <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
            <div *ngIf="f.telefono.errors.required">Por favor, ingresa tu numero de telefono</div>
        </div>
    </div>

    <div class="form-group">
        <label>Direccion</label>
        <input type="text" formControlName="direccion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" />
        <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
            <div *ngIf="f.direccion.errors.required">Por favor, ingresa tu Direccion</div>
        </div>
    </div>

    <div class="form-group">
        <label>Correo</label>
        <input type="text" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
        <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
            <div *ngIf="f.correo.errors.required">El Correo es obligatorio</div>
            <div *ngIf="f.correo.errors.email">Por favor, ingresa tu Correo</div>
        </div>
    </div>

    <div class="form-group">
        <label>Contraseña</label>
        <input type="password" formControlName="contrasena" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
        <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
            <div *ngIf="f.contrasena.errors.required">Por favor, ingresa una Contraseña Valida</div>

        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-success" (click)="onSubmit()">Aceptar</button>
    </div>

</form>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>